name: Python Test Suite
on:
- push
- pull_request
jobs:
  csl-json:
    name: CSL JSON Tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Install dependencies
      run: pip install --requirement=tests/schemas/input/requirements.txt
    - name: Run Tests
      run: pytest --verbose --color=yes tests
  csl-xml:
    name: CSL XML Tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Install dependencies
      run: sudo apt-get install --yes trang
    - name: Check schema validity
      run: trang schemas/styles/csl.rnc csl.rng && trang csl.rng csl.rnc
    - name: Check schema formatting
      run: for f in csl*.rnc; do diff -q $f schemas/styles/$f ; done
